<div class="container">
  <h2>Country Details</h2>
  <div class="row">
    <div class="col-3  display-label detail-label">Population:</div>
    <div class="col-3  display-values">
      <p>Sunday, July 15, 2012</p>
    </div>
  </div>
  <div class="row">
    <div class="col-3  display-label detail-label">Time Zones:</div>
    <div class="col-3  display-values">
      <p>Sunday, July 15, 2012</p>
    </div>
  </div>
  <div class="row">
    <div class="col-3  display-label detail-label">Currency:</div>
    <div class="col-3  display-values">
      <p>Sunday, July 15, 2012</p>
    </div>
  </div>
</div>
