.navigation {
  width: 100%;
  height: 2.5rem;
  background: #d9d5d5;
  padding: 10px;
  margin-bottom: 40px;
  border-bottom: black 1px solid;

  img {
    width: 140px;
  }

  .search-box {
    float: right;
    padding-right: 40px;
    input {
      font-size: 14px;
    }
  }
}
